form{
    .logo{
        text-align: center;
        img{
            width: 60%;
        }
    }
    .form-group{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        position: relative;
        @media (max-width: 768px){
            padding-bottom: 30px;
        }
        label{
            padding-bottom: 10px;
            font-size: 16px;
            color: #A0A3AA;
        }
        input{
            width: 100%;
            height: 48px;
            border-radius: 15px;
            border: 1px solid #A0A3AA;
            box-sizing: border-box;
            font-size: 13px;
            padding-left: 20px;
            color: #A0A3AA;
            margin-bottom: 5px;
        }
        span{
            color: rgba(255, 0, 0, 0.735);
            padding-left: 10px;
            font-size: 13px;
            @media (max-width: 768px){
                font-size: 24px;
            }
        }
    }
    .footer{
        text-align: center;
        img{
            width: 90%;
        }
    }
}

.invalid-feedback{
    position: absolute;
    bottom: 0;
}