<form [formGroup]="frmPay">
  <div class="logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6heAyZ6Atg8vGUYtaypDTguV6inDgC8-9CA&usqp=CAU" alt="">
  </div>

  <div class="form-group">
    <label for="">Nombres</label>
    <input type="text" placeholder="Ingresa tus nombre..." formControlName="name">

    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <p class="validate" *ngIf="f.name.errors && f.name.errors.required">Este campo es obligatorio.</p>
    </div>

  </div>

  <div class="form-group">
    <label for="">Apellidos</label>
    <input type="text" placeholder="Ingresa tu apellidos..." formControlName="last_name">

    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
      <p class="validate" *ngIf="f.last_name.errors && f.last_name.errors.required">Este campo es obligatorio.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="">N° Tarjeta</label>
    <input type="number" placeholder="Ingresa número de tarjeta..." formControlName="card">

    <div *ngIf="submitted && f.card.errors" class="invalid-feedback">
      <p class="validate" *ngIf="f.card.errors && f.card.errors.required">Este campo es obligatorio.</p>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-secondary" (click)="postPay();">Pagar {{total | number : '1.2-2'}}</button>
  </div>

  <div class="footer">
    <img src="https://user-images.githubusercontent.com/52581/44514079-4219bb80-a713-11e8-83a4-88f26bd07e2a.png" alt="">
  </div>
</form>
