@use '../01-abstracts/variable' as *;

/* Material Checkbox */
.mat-checkbox-layout .mat-checkbox-label {
    line-height: 1;
}
label.mat-checkbox-layout {
    display: flex;
    align-items: center;
}
mat-radio-button {
    padding: 10px 0;
    .mat-checkbox-label{
        margin-left: 10px !important;
    }
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $color-primary !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color-primary;
}





.mat-elevation-z8 {
    box-shadow: 1px 0px 15px 2px rgb(0 0 0 / 11%) !important;
}
mat-cell {
    font-size: 12px !important;
}


mat-dialog-container {
    border-radius: 0 !important;
}
mat-form-field {
    width: 100%;
}



/* Modal Bag */
.cdk-overlay-dark-backdrop {
    background: rgb(0 0 0 / 48%);
}

.mat-dialog-container{
    border-radius: 14px !important;
    box-shadow: none;
}




/* Styles for Material Table */
mat-radio-group {
    display: flex;
    flex-direction: column;
    mat-radio-button {
        padding: 10px 0px;
        @media (max-width: 768px){
            padding: 10px 0px;
        }
        
    }
}
