@use '../01-abstracts/variable' as *;
@use '../01-abstracts/mixins' as *;

.btn{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &[disabled]{
        background: #ebebeb;
        color: black !important;
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon{
            font-size: 20px;
            margin-left: 5px;
            font-weight: 600;
        }
    }
    ion-icon{
        font-size: 20px;
        margin-left: 5px;
        font-weight: 600;
    }
    &-primary{
        @include button(true, $white, $white, 5px);
    }
    &-secondary{
        width: 100%;
        @include button(false, $color-primary, $white, 15px);
    }
}

//Spinner
#spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
  
@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}